<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Alunos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text">
    </div>

    <div class="ui-g-12">
      <label style="display: block">Vencimento</label>
      <input pInputText type="text" style="width: 95px">

      <label>até</label>
      <input pInputText type="text" style="width: 95px">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="alunos" [paginator]="true" [rows]="2">
          <ng-template pTemplate="header">
              <tr>
                  <th>Nome</th>
                  <th>Responsável</th>
                  <th class="col-data-header">Data de Nascimento</th>
                  <th class="col-data-header">Turma</th>
                  <th class="col-valor-header">Telefone</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-aluno>
              <tr>
                  <td>{{aluno.nome}}</td>
                  <td>{{aluno.responsavel}}</td>
                  <td>{{aluno.dataNascimento}}</td>
                  <td>{{aluno.turma}}</td>
                  <td>{{aluno.telefone}}</td>
                  <td class="col-acoes" styleClass="col-acoes">
                    <a pButton icon="pi pi-pencil"></a>
                    <button pButton icon="pi pi-trash"></button>
                </td>
              </tr>
          </ng-template>
      </p-table>
      </div>
      <div class="ui-g-12">
        <a pButton label="Novo aluno"></a>
      </div>

  </div>

  </div>
</div>
